:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background: #141414;
  padding: 0 20px;
  justify-content: space-between;
}

header a {
  line-height: 80px;
  display: block;
}

header > a {
  display: block;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul a {
  padding: 0 16px;
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

header ul a:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  margin: 0 0 30px 0;
}

hr {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

.group {
  margin: 0 0 20px 0;
}

label {
  font-weight: bold;
  margin: 0 0 6px 0;
  display: block;
}

pre {
  background: #1a1a1a;
  padding: 20px;
  margin: 0 0 20px 0;
  overflow: scroll;
}

input {
  line-height: 44px;
  padding: 0px 12px;
  min-width: 480px;
}

button {
  line-height: 44px;
  padding: 0 20px;
  border-radius: 44px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  font-weight: bold;
  border: none;
}

button:hover {
  background: #00AAFF;
}

